In [1]:
numbers=list(range(0,101))

In [2]:
numbers

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [8]:
numbers[11::11]

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [11]:
n=numbers[11::11]

In [12]:
n[0]=0

In [3]:
n

NameError: name 'n' is not defined

In [14]:
n.append(110)

In [2]:
n

NameError: name 'n' is not defined

In [22]:
n.remove(33)

In [23]:
n

[44, 55, 66, 77, 88, 99, 110]

In [20]:
n.pop(0)

22

In [21]:
n

[33, 44, 55, 66, 77, 88, 99, 110]

In [25]:
n = copy_list

In [26]:
copy_list

[44, 55, 66, 77, 88, 99, 110]

In [28]:
even= list(range(0,101,2))

In [29]:
even

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [30]:
even[::-1]

[100,
 98,
 96,
 94,
 92,
 90,
 88,
 86,
 84,
 82,
 80,
 78,
 76,
 74,
 72,
 70,
 68,
 66,
 64,
 62,
 60,
 58,
 56,
 54,
 52,
 50,
 48,
 46,
 44,
 42,
 40,
 38,
 36,
 34,
 32,
 30,
 28,
 26,
 24,
 22,
 20,
 18,
 16,
 14,
 12,
 10,
 8,
 6,
 4,
 2,
 0]

In [31]:
reverse_even=even[::-1]

In [32]:
reverse_even

[100,
 98,
 96,
 94,
 92,
 90,
 88,
 86,
 84,
 82,
 80,
 78,
 76,
 74,
 72,
 70,
 68,
 66,
 64,
 62,
 60,
 58,
 56,
 54,
 52,
 50,
 48,
 46,
 44,
 42,
 40,
 38,
 36,
 34,
 32,
 30,
 28,
 26,
 24,
 22,
 20,
 18,
 16,
 14,
 12,
 10,
 8,
 6,
 4,
 2,
 0]

In [33]:
len(reverse_even)

51

In [34]:
add = reverse_even+even

In [35]:
add

[100,
 98,
 96,
 94,
 92,
 90,
 88,
 86,
 84,
 82,
 80,
 78,
 76,
 74,
 72,
 70,
 68,
 66,
 64,
 62,
 60,
 58,
 56,
 54,
 52,
 50,
 48,
 46,
 44,
 42,
 40,
 38,
 36,
 34,
 32,
 30,
 28,
 26,
 24,
 22,
 20,
 18,
 16,
 14,
 12,
 10,
 8,
 6,
 4,
 2,
 0,
 0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [36]:
len(add)

102

In [37]:
TUP =(10,20,30)

In [41]:
TUP2=(40)

In [39]:
TUP1=(30)

TypeError: can only concatenate tuple (not "int") to tuple

In [43]:
TUP+TUP2

TypeError: can only concatenate tuple (not "int") to tuple

In [44]:
type(TUP)

tuple

In [45]:
share = {"SBI" :272,"JET AIRWAYS":250}

In [46]:
share

{'SBI': 272, 'JET AIRWAYS': 250}

In [47]:
len(share)

2

In [50]:
share.keys()

dict_keys(['SBI', 'JET AIRWAYS'])

In [51]:
share.values()

dict_values([272, 250])

In [53]:
share.items()

dict_items([('SBI', 272), ('JET AIRWAYS', 250)])

In [56]:
share["SBI"]

272

In [58]:
share.add("infosys":1200)

SyntaxError: invalid syntax (<ipython-input-58-3c8733cd09a0>, line 1)

In [61]:
share["infosis"]=1200

In [62]:
share

{'SBI': 272, 'JET AIRWAYS': 250, 'infosys': 1200, 'infosis': 1200}

In [63]:
hello =[10,20,20,30,30]

In [64]:
set(hello)

{10, 20, 30}

In [65]:
type(hello)

list

In [66]:
a=25
b = 20
a>b

True

In [67]:
b>a

False

In [68]:
15>10 or 15>25

True

In [69]:
15>10 and 15>25

False

In [70]:
15>10 and 15<25

True

In [71]:
25>50 and 50<25

False

In [72]:
False  and True

False

In [73]:
False or  True

True

In [74]:
True  and True

True

In [75]:
False  or True

True

In [76]:
15>=30 or 35>=35

True

In [77]:
15!=30 and 30!=21

True

In [78]:
False and 25>30

False

In [91]:
n

[44, 55, 66, 77, 88, 99, 110]

In [92]:
n.insert(0,11)

In [93]:
n

[11, 44, 55, 66, 77, 88, 99, 110]

In [94]:
n.insert(3,45)

In [95]:
n

[11, 44, 55, 45, 66, 77, 88, 99, 110]

In [110]:
subscribers = -2
if subscribers >0:
        if subscribers < 10000:
            print("not satisfied")
        elif  subscribers >= 10000 and subscribers < 100000:
            print( "satisfied")
        else: 
            print("overwhelmed")
else:
    print("error")

error

In [106]:
check=25
if check %2 == 1:
    print ("even")
else:
    print("odd")

even

In [116]:
for temp in range(0,5):
    if temp %2==0:
        print(temp)
        print ("even")
    else:
        print(temp)
        print("odd")

0
even
1
odd
2
even
3
odd
4
even

In [118]:
li= [10,11,12,13,14,15]

In [119]:
li

[10, 11, 12, 13, 14, 15]

In [122]:
for temp in range(0,len(li)):
    if li[temp] %2==0:
        print(li[temp])
        print("even")
    else:
        print(li[temp])
        print("odd")

10
even
11
odd
12
even
13
odd
14
even
15
odd

In [123]:
li_1=list(range(100,105))
li_2=list(range(106,111))

In [124]:
for i, j in zip(li_1,li_2):
    print("i",i,"j",j,"i+j",i+j)

i 100 j 106 i+j 206
i 101 j 107 i+j 208
i 102 j 108 i+j 210
i 103 j 109 i+j 212
i 104 j 110 i+j 214

In [127]:
li_1

[100, 101, 102, 103, 104]

In [134]:
for index, element in enumerate(li_1):
    print(index,element)

0 100
1 101
2 102
3 103
4 104

In [149]:
for index in range(0,len(li_1)):
    print(index,li_1[index])

0 100
1 101
2 102
3 103
4 104

In [142]:
for index,element in zip(list(range(0,len(li_1))),li_1):
    print(index,element)

0 100
1 101
2 102
3 103
4 104

In [144]:
share

{'SBI': 272, 'JET AIRWAYS': 250, 'infosys': 1200, 'infosis': 1200}

In [146]:
for i,j in zip(share.keys(),share.values()):
    print(i,j)

SBI 272
JET AIRWAYS 250
infosys 1200
infosis 1200

In [147]:
for keys, values in share.items():
    print(keys, values)

SBI 272
JET AIRWAYS 250
infosys 1200
infosis 1200

In [160]:
def even_odd(number):
    
    """
    It's function
    """
    
    if number %2==0:
        return "even"
    else:
        return "odd"

In [156]:
even_odd(25)

'odd'

In [ ]:
even_odd()